/* Hide scrollbar for all browsers */
.home-page-wrapper::-webkit-scrollbar {
  display: none;
}

.home-page-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #050505;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none;  

  /* Standard Snap Scroll */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.snap-section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  position: relative;
  overflow: hidden; /* Prevents parallax bleed */
}